.w {
    width: 1170px;
    margin: 0 auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

/* 快捷導航模塊 */
.shortcut {
    height: 37px;
    line-height: 37px;
    background-color: #3b3b3b;
}

.shortcut ul li {
    float: left;
}

.shortcut ul li a {
    color: #fff;
    display: block;
    padding: 0 8px;
    font-size: 14px;
}

.btn {
    position: relative;
    width: 30px;
    height: 30px;
    margin: 0 auto;
}

.btn img {
    position: absolute;
    top: 6px;
    left: 6px;
}

.shortcut ul li a:hover {
    background-color: #1679a3;
}

/* header模塊 */
.header {
    margin: o auto;
    position: relative;
    width: 1140px;
    height: 75px;
    line-height: 75px;

}

.logo {
    position: absolute;
    top: 12.5px;
    width: 322px;
    height: 51px;
}

.logo a {
    display: block;
    width: 322px;
    height: 51px;
    background: url(../images/logo.png) no-repeat;
    font-size: 0;
}

.headerright {
    position: absolute;
    left: 640px;
    height: 75px;
}

.headerright ul li {
    float: left;
}

.headerright ul li a {
    color: #3a3a3a;
    display: block;
    padding: 0 11px;
    font-size: 16px;
}

.headerright ul li a:hover {
    background-color: #237aa1;
}

/* 翻頁照片 */
.page {
    position: relative;
    height: 485px;
    background-color: aquamarine;
}

.pics img {
    width: 100%;
    position: absolute;

}

/* 輪播 */
.carousel-container {
    overflow: hidden;
    width: 100%;
    max-height: 1200px;
}

.carousel {
    display: flex;
}

.slide {
    flex: 0 0 100%;
}

.slide img {
    width: 100%;
    object-fit: cover;
}


/* 空白 */

.blank {
    height: 37px;
}

/* nav區域 */


/* nav左 */
.nav {
    float: left;
    margin: 0 auto;
}

.navl {
    width: 277px;
}

.mu {
    width: 250px;
    font-size: 18px;
    background-color: #E9E9E9;
}

.mu-txt {
    color: #3a3a3a;
}

div[class^=mul] {
    position: relative;
    margin: 0 auto;
    width: 230px;
    height: 70px;
}

div[class^=mul] img {
    float: left;

}

.d-txt {
    position: absolute;
    left: 80px;
    top: 20px;
    width: 147px;
}

.mu0 {
    height: 54px;
    width: 250px;
    background: url(../images/link_bg_pc.png);
}

.mu1 {
    height: 12px;
}



/* nav右 */



/* 標題 */
.article {
    position: relative;
    float: right;
    width: 893px;

}

.t {
    width: 878px;
    height: 520px;
}

.article-h {
    position: absolute;
    top: 20px;
    width: 878px;
    height: 45px;
    background-color: #3b3b3b;
    margin: 0 auto;
}

.article-h h3 {
    color: #fff;
    position: absolute;
    bottom: 12px;
    left: 25px;
}

.cblue {
    position: absolute;
    left: 25px;
    top: 8px;
    width: 101px;
    height: 12px;
    background: url(../images/title1_bg.png);
}

.px {
    width: 878px;
    height: 67px;
    border-bottom: 2px solid #85d2d1;
}

/* 影片區 */
.vdo {
    position: absolute;
    top: 90px;
    width: 878px;
    height: 430px;
    background-color: blueviolet;
}


/* 導航模塊 */
.n {
    position: absolute;
    top: 520px;
    width: 878px;
    height: 110px;
    border-bottom: 3px solid #facc39;
}

.n ul {
    position: absolute;
    top: 29px;
}

.n ul li {
    float: left;
    height: 34px;
}

.n ul li a {
    color: #3a3a3a;
}

.n ul li:hover {
    background-color: #facc39;
}


/* 重要消息 */
.n1 {
    position: absolute;
    top: 630px;
    width: 878px;
    height: 570px;
    background-color: aqua;
}

/* 圖片 */
.picture {
    position: absolute;
    top: 1215px;
    width: 878px;
    height: 215px;
}

.picture img {
    width: 100%;
}

.picture2 {
    position: absolute;
    top: 1445px;
    width: 878px;
    height: 570px;
    background-color: #1679a3;
}

.picture2 .picture2-t {
    position: relative;
    width: 878px;
    height: 260px;
    border-bottom: 3px solid #3b3b3b;
}

.di {
    width: 520px;
    height: 238px;
}

.picture2 div img {
    width: 100%;
}

.mtc {
    position: absolute;
    bottom: 0px;
    left: 520px;
    float: left;
    width: 136px;
    height: 44px;
    background-color: #3b3b3b;
}

.mtc h3 {
    color: #fff;
    margin: 0 auto;
}